---
title: 8000038 BVPR vaiko sąskaitos patikrinimas
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: d6ea5e9458a2b8ceaab3ac4bd483e1130b9a398a
ms.translationtype: MT
ms.contentlocale: lt-LT
ms.lasthandoff: 01/15/2019
ms.locfileid: "28301281"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Rodomi jūsų "Microsoft" abonementą gimimo data yra neteisinga

"Microsoft" labai rimtai žiūri į saugumą. Jums gali neseniai buvote paraginti pateikti tėvų sutikimą dėl vaiko "Microsoft" abonementą. Jei jums reikia pagalbos tėvų sutikimo davimo arba atnaujinimo data gimimo "Microsoft" abonementą, žr. [amžiaus patikrinimas tėvų sutikimo](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Sužinokite daugiau apie [tėvų sutikimas ir vaiko "Microsoft" abonementai](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

