---
title: EDU patikra
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: lt-LT
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205275"
---
# <a name="edu-verification"></a>EDU patikra

Daugeliu atvejų akademiniai tinkamumo prašymai apdorojami per 24–48 valandas. Kai kurioms užklausoms gali reikėti nuodugniau peržiūrėti ir gali praeiti iki 10 darbo dienų. Kai baigsite, išsiųsime el. laišką su jūsų mokyklos tinkamumo būsena.

**Svarbu, kad** Jei prieš įeidami į domeną išėjote iš patvirtinimo vedlio, bet kuriuo metu nemokamo bandomojo bandymo metu galite [bet kada atnaujinti akademinio patvirtinimo vedlį.](https://go.microsoft.com/fwlink/p/?linkid=2135255)

Jei norite patikrinti domeno būseną, eikite į ["Microsoft 365" administravimo centrą](https://go.microsoft.com/fwlink/p/?linkid=2024339). Pagrindiniame puslapyje slinkite į apačią ir raskite **atsiskaitymo** kortelę. **Atsiskaitymo** kortelė nurodo patvirtinimo proceso būseną (patvirtinta, laukiama, atmesta arba pridedate domeną).

Jei jūsų užklausa atmesta, [žr. Ką dabar daryti?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)