---
title: EDU patvirtinimas
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: lt-LT
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814380"
---
# <a name="edu-verification"></a><span data-ttu-id="2a9b4-102">EDU patvirtinimas</span><span class="sxs-lookup"><span data-stu-id="2a9b4-102">EDU verification</span></span>

<span data-ttu-id="2a9b4-103">Daugeliu atvejų akademinės tinkamumo užklausos apdorojamos per 24–48 valandas.</span><span class="sxs-lookup"><span data-stu-id="2a9b4-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="2a9b4-104">Kai kurioms užklausoms gali reikėti išsamesnės peržiūros ir apdoroti gali užtrukti iki 10 darbo dienų.</span><span class="sxs-lookup"><span data-stu-id="2a9b4-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="2a9b4-105">Baigus, išsiųsime el. laišką su jūsų mokyklos tinkamumo būsena.</span><span class="sxs-lookup"><span data-stu-id="2a9b4-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="2a9b4-106">**Svarbu** Jei prieš įvesdami domeną išėjote iš patvirtinimo vediklio, galite tęsti akademinio [patvirtinimo](https://go.microsoft.com/fwlink/p/?linkid=2135255) vediklį bet kuriuo metu per nemokamą bandomąją versiją.</span><span class="sxs-lookup"><span data-stu-id="2a9b4-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="2a9b4-107">Jei norite patikrinti domeno būseną, eikite į ["Microsoft 365" administravimo centrą](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="2a9b4-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="2a9b4-108">Pagrindiniame puslapyje slinkite į apačią ir raskite **atsiskaitymo** kortelę.</span><span class="sxs-lookup"><span data-stu-id="2a9b4-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="2a9b4-109">Atsiskaitymo **kortelė** nurodo patvirtinimo proceso būseną (patvirtinta, laukiama, atmesta arba įtraukia domeną).</span><span class="sxs-lookup"><span data-stu-id="2a9b4-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="2a9b4-110">Jei jūsų užklausa atmetama, žr. [Mano mokykla neatitinka reikalavimų. Ką daryti dabar?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="2a9b4-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>