---
title: EDU patvirtinimas
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: lt-LT
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946752"
---
# <a name="edu-verification"></a>EDU patvirtinimas

Daugeliu atvejų akademinės tinkamumo užklausos apdorojamos per 24–48 valandas. Kai kurioms užklausoms gali reikėti išsamesnės peržiūros ir apdoroti gali užtrukti iki 10 darbo dienų. Baigus, išsiųsime el. laišką su jūsų mokyklos tinkamumo būsena.

**Svarbu** Jei prieš įvesdami domeną išėjote iš patvirtinimo vediklio, galite tęsti akademinio [patvirtinimo](https://go.microsoft.com/fwlink/p/?linkid=2135255) vediklį bet kuriuo metu per nemokamą bandomąją versiją.

Jei norite patikrinti domeno būseną, eikite į "Microsoft 365" administravimo centras [.](https://go.microsoft.com/fwlink/p/?linkid=2024339) Pagrindiniame puslapyje slinkite į apačią ir raskite **atsiskaitymo** kortelę. Atsiskaitymo **kortelė** nurodo patvirtinimo proceso būseną (patvirtinta, laukiama, atmesta arba įtraukia domeną).

Jei jūsų užklausa atmetama, žr. [Mano mokykla neatitinka reikalavimų. Ką daryti dabar?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)