---
title: EDU patikra
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: lt-LT
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205275"
---
# <a name="edu-verification"></a><span data-ttu-id="5a93d-102">EDU patikra</span><span class="sxs-lookup"><span data-stu-id="5a93d-102">EDU verification</span></span>

<span data-ttu-id="5a93d-103">Daugeliu atvejų akademiniai tinkamumo prašymai apdorojami per 24–48 valandas.</span><span class="sxs-lookup"><span data-stu-id="5a93d-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="5a93d-104">Kai kurioms užklausoms gali reikėti nuodugniau peržiūrėti ir gali praeiti iki 10 darbo dienų.</span><span class="sxs-lookup"><span data-stu-id="5a93d-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="5a93d-105">Kai baigsite, išsiųsime el. laišką su jūsų mokyklos tinkamumo būsena.</span><span class="sxs-lookup"><span data-stu-id="5a93d-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="5a93d-106">**Svarbu, kad** Jei prieš įeidami į domeną išėjote iš patvirtinimo vedlio, bet kuriuo metu nemokamo bandomojo bandymo metu galite [bet kada atnaujinti akademinio patvirtinimo vedlį.](https://go.microsoft.com/fwlink/p/?linkid=2135255)</span><span class="sxs-lookup"><span data-stu-id="5a93d-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="5a93d-107">Jei norite patikrinti domeno būseną, eikite į ["Microsoft 365" administravimo centrą](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="5a93d-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="5a93d-108">Pagrindiniame puslapyje slinkite į apačią ir raskite **atsiskaitymo** kortelę.</span><span class="sxs-lookup"><span data-stu-id="5a93d-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="5a93d-109">**Atsiskaitymo** kortelė nurodo patvirtinimo proceso būseną (patvirtinta, laukiama, atmesta arba pridedate domeną).</span><span class="sxs-lookup"><span data-stu-id="5a93d-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="5a93d-110">Jei jūsų užklausa atmesta, [žr. Ką dabar daryti?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="5a93d-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>