---
title: 8000038 BVPR vaiko sąskaitos patikrinimas
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: lt-LT
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524419"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Rodomi jūsų "Microsoft" abonementą gimimo data yra neteisinga

"Microsoft" labai rimtai žiūri į saugumą. Jums gali neseniai buvote paraginti pateikti tėvų sutikimą dėl vaiko "Microsoft" abonementą. Jei jums reikia pagalbos tėvų sutikimo davimo arba atnaujinimo data gimimo "Microsoft" abonementą, žr. [amžiaus patikrinimas tėvų sutikimo](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Sužinokite daugiau apie [tėvų sutikimas ir vaiko "Microsoft" abonementai](https://go.microsoft.com/fwlink/p/?linkid=874365).
  