---
title: "\"Publisher\" patvirtinimo trikčių diagnostika"
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: lt-LT
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885365"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Problemos, susijusios su "Publisher" programų kūrėjams patikra

**Rekomenduojami veiksmai** 

Norėdami išspręsti problemas, susijusias su "Publisher" patikra, atlikite toliau nurodytus veiksmus.

1. Peržiūrėkite būtinąsias sąlygas ir kitus reikalavimus, kad įsitikintumėte, jog jie visi yra patenkinti.
2. Peržiūrėkite instrukcijas, kad [pažymėtumėte taikomąją programą kaip patvirtintą "Publisher"](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) ir užtikrintumėte, kad visi veiksmai atlikti sėkmingai.
3. Peržiūrėkite [dažniausių problemų](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) sąrašą ir atlikite rekomenduojamus veiksmus, jei kyla problemų iš tokio sąrašo.
4. Atkurti užklausą naudojant ["Graph Explorer"](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) , kad būtų renkama papildoma informacija ir išsprendžiami visi vartotojo sąsajos klausimai.

**Rekomenduojami dokumentai**

- ["Publisher" patvirtinimas – apžvalga](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Programos žymėjimas kaip patvirtintas "Publisher"](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- ["Publisher" patvirtinimo trikčių diagnostika](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

