---
title: "\"Publisher\" patvirtinimo trikčių diagnostika"
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: lt-LT
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885365"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="4ce6c-102">Problemos, susijusios su "Publisher" programų kūrėjams patikra</span><span class="sxs-lookup"><span data-stu-id="4ce6c-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="4ce6c-103">**Rekomenduojami veiksmai**</span><span class="sxs-lookup"><span data-stu-id="4ce6c-103">**Recommended steps**</span></span> 

<span data-ttu-id="4ce6c-104">Norėdami išspręsti problemas, susijusias su "Publisher" patikra, atlikite toliau nurodytus veiksmus.</span><span class="sxs-lookup"><span data-stu-id="4ce6c-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="4ce6c-105">Peržiūrėkite būtinąsias sąlygas ir kitus reikalavimus, kad įsitikintumėte, jog jie visi yra patenkinti.</span><span class="sxs-lookup"><span data-stu-id="4ce6c-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="4ce6c-106">Peržiūrėkite instrukcijas, kad [pažymėtumėte taikomąją programą kaip patvirtintą "Publisher"](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) ir užtikrintumėte, kad visi veiksmai atlikti sėkmingai.</span><span class="sxs-lookup"><span data-stu-id="4ce6c-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="4ce6c-107">Peržiūrėkite [dažniausių problemų](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) sąrašą ir atlikite rekomenduojamus veiksmus, jei kyla problemų iš tokio sąrašo.</span><span class="sxs-lookup"><span data-stu-id="4ce6c-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="4ce6c-108">Atkurti užklausą naudojant ["Graph Explorer"](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) , kad būtų renkama papildoma informacija ir išsprendžiami visi vartotojo sąsajos klausimai.</span><span class="sxs-lookup"><span data-stu-id="4ce6c-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="4ce6c-109">**Rekomenduojami dokumentai**</span><span class="sxs-lookup"><span data-stu-id="4ce6c-109">**Recommended documents**</span></span>

- [<span data-ttu-id="4ce6c-110">"Publisher" patvirtinimas – apžvalga</span><span class="sxs-lookup"><span data-stu-id="4ce6c-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="4ce6c-111">Programos žymėjimas kaip patvirtintas "Publisher"</span><span class="sxs-lookup"><span data-stu-id="4ce6c-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="4ce6c-112">"Publisher" patvirtinimo trikčių diagnostika</span><span class="sxs-lookup"><span data-stu-id="4ce6c-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

